@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@700&display=swap');

.login {
    height: 100vh;
    /* background: linear-gradient(to right, #f3fec4, #e0fcd3); */
    background: url("../../Assets/home3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
}
.login_header h1{
    font-family: 'Eczar', serif;
    font-size: 5vw;
    margin-bottom: 5%;
    color: rgb(198, 102, 29);
    text-shadow: #ffffff 0px 0px 12px;
}

.sub-part{
    color: rgb(225, 225, 225) !important;
}

.login::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(5, 23, 14, 0.389);
}

.loginForm {
    /* background-color: white; */
    background: rgba(255, 255, 255, 0.144);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 50%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.47);
    z-index: 5;
}

.loginForm>input {
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    width: 80%;
    border-radius: 40px;
    border: 1px solid #efefef;
    margin: 1vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    outline: none;
    background-color: #ffffff90;
    color: rgb(56, 56, 56);
}

.loginForm>a {
    align-self: flex-end;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.342);
    margin: 1vmax;
}

.loginButton{
    background: linear-gradient(to bottom, rgba(201,125,58,1) 0%, rgba(218,83,53,1) 100%);
    padding: 1.5% 10%;
    border: none;
    border-radius: 10px;
    color: #e0fcd3;
}

.divider{
    /* max-width: 320px; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.divider .divider-line{
    width: 40%;
    border-bottom: 1px solid #cecece;
    opacity: .7;
}

.authButtons{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 0%;
    margin-bottom: 10%;
}

.authButtons li{
    list-style: none;
}

@media screen and (max-width: 600px) {
    .loginForm {
        width: 100%;
    }

    .loginForm>input {
        padding: 4vw 8vw;
        margin: 1vmax;
        font: 100 1.2rem "Roboto", sans-serif;
        margin: 4vw;
    }

    .loginForm>a {
        align-self: center;
    }
}