.login {
    height: 100vh;
    background: linear-gradient(to right, #f3fec4, #e0fcd3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
}

.loginForm {
    background-color: white;
    height: 100%;
    width: 50%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm>input {
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    width: 80%;
    border-radius: 40px;
    border: 1px solid #ccc;
    margin: 1vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    outline: none;
}

.loginForm>a {
    align-self: flex-end;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.342);
    margin: 1vmax;
}

.loginButton{
    background: linear-gradient(to bottom, rgba(201,125,58,1) 0%, rgba(218,83,53,1) 100%);
    padding: 1.5% 10%;
    border: none;
    border-radius: 10px;
    color: #e0fcd3;
}

.divider{
    /* max-width: 320px; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.divider .divider-line{
    width: 40%;
    border-bottom: 1px solid #cecece;
    opacity: .7;
}

.authButtons{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 7%;
}

.authButtons li{
    list-style: none;
}

@media screen and (max-width: 600px) {
    .loginForm {
        width: 100%;
    }

    .loginForm>input {
        padding: 4vw 8vw;
        margin: 1vmax;
        font: 100 1.2rem "Roboto", sans-serif;
        margin: 4vw;
    }

    .loginForm>a {
        align-self: center;
    }
}