@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
.profileContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0%;
  left: 0%;
  max-width: 100%;
  /* background linear gradient from sea green to yellow green*/
  /* background: #43cea2; 
background: -webkit-linear-gradient(to right, #185a9d, #43cea2); 
background: linear-gradient(to right, #185a9d, #43cea2);  */
background: #B3FFAB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.profile_inner{
  top: 5%;
  width: 85%;
  height: 80vh;
  position: relative;
  /* background-color: black; */
  margin: auto;
  display: flex;
  flex-direction: column;
  /* background: rgba( 1, 122, 1, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 3px solid rgba(0, 110, 28, 0.751); */
}




/* Top Profile PArt of the section */
.top_profile{
  width: 100%;
  height: 15%;
  background-color: transparent;
  position: relative;
  display: flex;
}
.top_profile_container{
  width: 98%;
  height: 90%;
  /* background-color: pink; */
  display: flex;
  margin: auto;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  flex-direction: column;
}
.top_profile h1{
  font-family: 'Josefin Sans', sans-serif;
  margin: auto;
}




/* Down Profile of The Profile Section */
.down_profile{
  width: 100%;
  height: 85%;
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.left_profile{
  width: 30%;
  height: 100%;
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  /* margin: ; */
}
.left_profile_container{
  width: 92%;
  height: 95%;
  background-color: gray;
  position: relative;
  margin: auto;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-direction: column;
}


.right_profile{
  width: 70%;
  height: 100%;
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
.right_profile_container{
  width: 97%;
  height: 95%;
  background-color: cadetblue;
  position: relative;
  margin: auto;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}
.profile_img{
  width: 100%;
  height: 60%;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.userImg{
  border: 7px solid #ffffff;
  border-radius: 1rem;
  margin: auto;
  width: 70%;
}
.profile_func_btn{
  width: 100%; 
  height: 30%; 
  
  /* position: relative; */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile_func_btn button{
  background: linear-gradient(to left, rgba(201,125,58,1) 0%, rgba(218,83,53,1) 100%);
  padding: 3% 5%;
  width: 11vw;
  border-radius: 10px;
  color:#ffffff;
  font-weight:500;
  transition: all 1s ease;
  border: none;
  /* width: 100%; */
  /* white-space: nowrap; */
}

.edit_profile button{
  /* width: 8vw; */
  padding: 6% 5%;
  margin-top: 5%;
}

.profile_func_btn button:hover{
  background: linear-gradient(to right, rgba(201,125,58,1) 0%, rgba(218,83,53,1) 100%);
  font-weight: bolder;
}

.section1{
  display: flex;
  width: 100%;
  height: 16.67%;
  background-color: transparent;
  flex-direction: row;
      border-bottom: 1px solid #95959542;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  /* justify-content: space-between; */
}

.Label{
  width: 30%;
  height: 100%;
  display: flex;
  background-color: transparent;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5em;
  padding-left: 4%;
  font-family: 'Noto Serif', serif;
  font-weight: bolder;
}

.Value{
  width: 70%;
  height: 100%;
  display: flex;
  background-color: transparent;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5em;
  color: #414141;
  font-family: 'Noto Serif', serif;
  font-weight: lighter;
}

@media screen and (max-width: 800px) {
  .Label{
    font-size: 1.1em;
  }
  .Value{
    font-size: 1.2em;
  }
}

@media screen and (max-width: 550px) {
  .Label{
    font-size: 0.8em;
  }
  .Value{
    font-size: 0.9em;
  }
  .down_profile{
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .left_profile {
    width: 100vw;
    height: 63%;
    position: relative;
    top: 6%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
  }
  .left_profile_container {
    width: 95%;
    height: 40vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .profile_img{
    height: 100%;
  }
  .right_profile {
    top: 10%;
    width: 98vw;
  }
  .right_profile_container{
    height: 100%;
  }
  .profile_func_btn{
    height: 50%;
  }
  .profile_func_btn button{
    width: 25vw;
    font-size: x-small;
  }
  .userImg{
    border: 5px solid white;
    width: 80%;
  }
  .section1{
    margin: 3px 0px;
  }
}

@media screen and (max-width: 350px) {
  .profile_func_btn {
      height: 35%;
      width: 70%;
  }
}