@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.updateProfileContainer {
    width: 100vw;
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    top: 0%;
    left: 0;
  }
  
  .updateProfileBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.374);
    width: 50vw;
    height: 100%;
    box-sizing: border-box;
    margin: 3rem;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  .updateProfileBox:hover {
    scale: 1.01;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205), 0 0 20px rgba(0, 0, 0, 0.259);
  }
  
  .updateProfileHeading {
    text-align: center;
    color: rgb(220, 128, 0);
    font: 600 3vmax 'Alkatra', cursive !important;
    padding: 1vmax;
    border-bottom: 1px solid rgba(204, 119, 0, 0.546);
    width: 50%;
    margin: 4% auto;
  }
  
  .updateProfileForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    width: 100%;
    transition: all 0.5s;
  }
  
  .updateProfileForm > div {
    display: flex;
    width: 90%;
    align-items: center;
    margin: 5px 0px;
  }
  
  .updateProfileForm > div > input, select {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
  }
  
  .updateProfileForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }
  
  #updateProfileImage > img {
    width: 3vmax;
    border-radius: 100%;
    margin: 1vmax;
  }
  #updateProfileImage > input {
    display: flex;
    padding: 0%;
  }
  
  #updateProfileImage > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 400 0.8vmax cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgb(255, 255, 255);
  }
  
  #updateProfileImage > input::file-selector-button:hover {
    background-color: rgb(235, 235, 235);
  }
  
  .updateProfileBtn {
    border: none;
    background: linear-gradient(to left, rgba(201,125,58,1) 0%, rgba(218,83,53,1) 100%);
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 50%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  
  .updateProfileBtn:hover {
    background: linear-gradient(to right, rgba(201,125,58,1) 0%, rgba(218,83,53,1) 100%);
  }
  
  @media screen and (max-width: 600px) {
    .updateProfileContainer {
      background-color: white;
    }
    .updateProfileBox {
      width: 100vw;
      height: 95vh;
    }
  
    .updateProfileForm {
      padding: 5vmax;
    }
  
    .updateProfileForm > div > input {
      padding: 1vmax 4vmax;
      font: 300 1vmax cursive;
    }
  
    .updateProfileForm > div > svg {
      font-size: 2.8vmax;
    }
  
    #updateProfileImage > img {
      width: 8vmax;
      border-radius: 100%;
    }
  
    #updateProfileImage > input::file-selector-button {
      height: 7vh;
      font: 400 1.8vmax cursive;
    }
  
    .updateProfileBtn {
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
    }
  }