@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@700&display=swap');

.homepage{
    position: absolute;
    width: 100%;
    height: 85vh;
    background-color: #ebfce3;
    /* top: 10%; */
    justify-content: center;
    align-content: center;
    display: flex;
}
.container_upper{
    width: 100%;
    height: 80%;
    position: relative;
    background: url("../../Assets/home3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 0 100%, 500% 0%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.container_upper::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.8),rgba(0,0,0,0.4));
}
.tag{
    width: 100%;
    height: 30%;
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-content: center;
}
.tag h2{
    margin: auto;
    font-family: 'Eczar', serif;
    font-size: 3.5em;
    font-weight: 200;
    color: white;
}
.search_box{
    position: absolute;
    width: 40%;
    height: 12%;
    background: linear-gradient(to bottom, rgba(201,125,58,1) 0%, rgba(218,83,53,1) 100%);
    top: 66%;
    left: 30%;
    z-index: 3;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: 3px solid rgb(108, 68, 5);
    font-family: 'Eczar', serif;
    font-size: 2em;
    color: white;
}




/* Responsiveness from 1300px to  */
@media screen and (max-width:1300px) {
    .tag h2{
        font-size: 280%;
    }
    .search_box{
        font-size: 170%;
    }
}
@media screen and (max-width:1010px) {
    .tag h2{
        font-size: 230%;
        /* word-wrap:break-word; */
    }
    .search_box{
        font-size: 150%;
    }
}
@media screen and (max-width:850px) {
    .tag h2{
        font-size: 190%;
    }
    .search_box{
        font-size: 130%;
    }
}
@media screen and (max-width:700px) {
    .tag h2{
        font-size: 160%;
    }
    .search_box{
        font-size: 110%;
    }
}
@media screen and (max-width:600px) {
    .tag{
        width: 70%;
        height: 40%;
    }
    .tag h2{
        font-size: 2.3em;
    }
    .search_box{
        font-size: 90%;
    }
}
@media screen and (max-width:450px) {
    .tag{
        
        width: 100%;
        height: 30%;
    }
    .tag h2{
        margin: 6%;
        font-size: 1.9em;
    }
    .search_box{
        font-size: 70%;
    }
}
@media screen and (max-width:350px) {
    .search_box{
        font-size: 50%;
    }
}