@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
.Navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 13%;
    background: transparent;
    position: fixed;
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 100;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.47);
}
/* .Navbar::before{
    content: "";
    filter: blur(2px);
    width: 100%;

} */




/* Left side of the navbar */
.leftnav{
    width: 25%;
    position: relative;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.logo{
    width: 2.5rem;
    height: 4rem;
    margin: auto;
}
.Header{
    width: 65%;
    height: 100%;
    position: relative;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.Header h1{
    /* color: #ff5934; */
    color: rgb(255, 149, 0);
    /* -webkit-text-stroke-width: 0.01px;
    -webkit-text-stroke-color: rgba(13, 135, 0, 0.862); */
    /* font-weight: 400; */
    font-family: 'Yeseva One', cursive;
    font-size: 2.7em;
    letter-spacing: 2px;
}






/* Mid side of the navbar */
.midnav{
    width: 50%;
    position: relative;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 8%;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
/* .firstmid{
    width: 20%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.firstmid a{
    text-decoration: none;
}
.firstmid h2{
    font-weight: bold;
    font-size: 1.3em;
    color: #eb5b1d;
    opacity: 0.7;
    cursor: pointer;
}

.secondmid{
    width: 20%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.secondmid a{
    text-decoration: none;
}
.secondmid h2{
    font-weight: bold;    
    font-size: 1.3em;
    color: #eb5b1d;
    opacity: 0.7;
    cursor: pointer;
}

.thirdmid{
    width: 20%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.thirdmid a{
    text-decoration: none;
}
.thirdmid h2{
    font-weight: bold;
    font-size: 1.3em;
    color: #eb5b1d;
    opacity: 0.7;
    cursor: pointer;
}

.fourthmid{
    width: 20%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.fourthmid a{
    text-decoration: none;
}
.fourthmid h2{
    font-weight: bold;
    font-size: 1.3em;
    color: #eb5b1d;
    opacity: 0.7;
    cursor: pointer;
} */
.navli{
    font-family: 'Alkatra', cursive !important;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(255, 149, 0);
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.2s ease;
}

.navli:hover{
    opacity: 1;
    scale: 1.1;
}








/* Right Side of the navbar */
.rightnav{
    width: 17%;
    position: relative;
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
}
.btn_cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.btn{
    font-family: 'Paytone One', sans-serif;
    font-size: 1.1em;
    padding: 4px;
    border-radius: 12px;
    cursor: pointer;
}


/* Hamburger display none  */

.hamburger{
    display: none;
}



/* Responsive from 1300px to 1000px*/
@media screen and (max-width:1300px) {
    .Header h1{
        font-size: 2.25em;
    }
    .firstmid h2{
        font-size: 1.1em;
    }
    .secondmid h2{
        font-size: 1.1em;
    }
    .thirdmid h2{
        font-size: 1.1em;
    }
    .fourthmid h2{
        font-size: 1.1em;
    }
    .btn{
        font-size: 0.95em;
    }
}
/* Responsive from 1000px to 850 px */
@media screen and (max-width:1000px) {
    .logo{
        width: 3.5rem;
        height: 3.5rem;
    }
    .firstmid h2{
        font-size: 1em;
    }
    .secondmid h2{
        font-size: 1em;
    }
    .thirdmid h2{
        font-size: 1em;
    }
    .fourthmid h2{
        font-size: 1em;
    }
    .Header h1{
        margin-left:15% ;
        font-size: 1.9em;
    }
}


/* Responsive from 850 px */
@media screen and (max-width:850px) {
    .midnav{
        display: none;
    }
    .rightnav{
        display: none;
    }
    .leftnav{
        width: 30%;
    }
    .logo{
        width: 3rem;
        height: 3rem;
    }
    .hamburger{
        width: 20%;
        height: 100%;
        position: relative;
        background-color: transparent;
        display: flex;
        margin-left:auto ;
    }
    .menucont{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: center;
    }
    .menu{
        margin-left: 25%;
        color: rgb(255, 149, 0);
        font-size: large;
    }
}
@media screen and (max-width:680px) {
    .logo{
        width: 3rem;
        height: 3rem;
    }
    .leftnav{
        width: 35%;
    }
    .Header h1{
        font-size: 1.7em;
    }
}
@media screen and (max-width:550px) {
    .leftnav{
        width: 45%;
    }
}
@media screen and (max-width:400px) {
    .logo{
        width: 3rem;
        height: 3rem;
    }
    .Header h1{
        margin-left: 3%;
        font-size: 1.4em;
    }
    .leftnav{
        width: 58%;
    }
}