@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.Navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 13%;
    background: linear-gradient(to top, rgba(150,222,191,1) 0%, rgba(75,183,189,1) 15%, rgb(1, 20, 128) 100%);
    position: absolute;
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}




/* Left side of the navbar */
.leftnav{
    width: 25%;
    position: relative;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.logo{
    width: 30%;
    height: 90%;
    margin: auto;
}
.Header{
    width: 65%;
    height: 100%;
    position: relative;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.Header h1{
    color: white;
    font-family: 'Yeseva One', cursive;
    font-size: 2.5em;
    letter-spacing: 2px;
}






/* Mid side of the navbar */
.midnav{
    width: 50%;
    position: relative;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 8%;
    justify-content: space-between;
}
.firstmid{
    width: 20%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.firstmid h2{
    font-family: 'Paytone One', sans-serif;
    font-size: 1.3em;
    color: white;
    opacity: 0.7;
    cursor: pointer;
}
.firstmid h2:hover{
    opacity: 1;
}
.secondmid{
    width: 20%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.secondmid h2{
    font-family: 'Paytone One', sans-serif;
    font-size: 1.3em;
    color: white;
    opacity: 0.7;
    cursor: pointer;
}
.secondmid h2:hover{
    opacity: 1;
}
.thirdmid{
    width: 20%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.thirdmid h2{
    font-family: 'Paytone One', sans-serif;
    font-size: 1.3em;
    color: white;
    opacity: 0.7;
    cursor: pointer;
}
.thirdmid h2:hover{
    opacity: 1;
}
.fourthmid{
    width: 20%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.fourthmid h2{
    font-family: 'Paytone One', sans-serif;
    font-size: 1.3em;
    color: white;
    opacity: 0.7;
    cursor: pointer;
}
.fourthmid h2:hover{
    opacity: 1;
}









/* Right Side of the navbar */
.rightnav{
    width: 17%;
    position: relative;
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
}
.btn_cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.btn{
    font-family: 'Paytone One', sans-serif;
    font-size: 1.1em;
    padding: 4px;
    border-radius: 12px;
    cursor: pointer;
}


/* Hamburger display none  */

.hamburger{
    display: none;
}



/* Responsive from 1300px to 1000px*/
@media screen and (max-width:1300px) {
    .Header h1{
        font-size: 2.25em;
    }
    .firstmid h2{
        font-size: 1.1em;
    }
    .secondmid h2{
        font-size: 1.1em;
    }
    .thirdmid h2{
        font-size: 1.1em;
    }
    .fourthmid h2{
        font-size: 1.1em;
    }
    .btn{
        font-size: 0.95em;
    }
}
/* Responsive from 1000px to 850 px */
@media screen and (max-width:1000px) {
    .logo{
        width: 35%;
        height: 85%;
        margin: auto;
    }
    .firstmid h2{
        font-size: 1em;
    }
    .secondmid h2{
        font-size: 1em;
    }
    .thirdmid h2{
        font-size: 1em;
    }
    .fourthmid h2{
        font-size: 1em;
    }
    .Header h1{
        margin-left:15% ;
        font-size: 1.9em;
    }
}


/* Responsive from 850 px */
@media screen and (max-width:850px) {
    .midnav{
        display: none;
    }
    .rightnav{
        display: none;
    }
    .leftnav{
        width: 30%;
    }
    .logo{
        width: 35%;
        height: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .hamburger{
        width: 20%;
        height: 100%;
        position: relative;
        background-color: transparent;
        display: flex;
        margin-left:auto ;
    }
    .menucont{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: center;
    }
    .menu{
        margin-left: 25%;
        color: white;
        font-size: large;
    }
}
@media screen and (max-width:680px) {
    .logo{
        width: 35%;
        height: 80%;
    }
    .leftnav{
        width: 35%;
    }
    .Header h1{
        font-size: 1.7em;
    }
}
@media screen and (max-width:550px) {
    .leftnav{
        width: 45%;
    }
}
@media screen and (max-width:400px) {
    .logo{
        width: 35%;
        height: 80%;
    }
    .Header h1{
        margin-left: 3%;
        font-size: 1.4em;
    }
    .leftnav{
        width: 58%;
    }
}