.Footer {
  width: 100%;
  position: absolute;
  height: 33vh;
  background-color: black;
  top: 140%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  overflow-x: hidden;
}
.footer {
  background: #000;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}
.footer .row-icon{
    display: flex;
    width: 60%;
    justify-content: center;
    align-content: center;
    margin: auto;
}
.footer .row-icon a{
    color: white;
    margin: auto;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}
@media screen and (max-width:400px) {
  .Footer{
    height: 45vh;
  }
}
@media screen and (max-width:300px) {
  .Footer{
    height: 50vh;
  }
}
