@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Edu+NSW+ACT+Foundation&family=Nunito:ital,wght@1,800&display=swap');


.blogsupdate{
    /* background-color: rgb(225, 52, 52); */
    width:100%;
    /* height: 170vh; */
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* top: 70%; */
    margin-top: 5%;
    margin-bottom: 5%;
}
.blogcard1{
    width: 70vw;
    /* height: 20vh; */
    /* background-color: black; */
    margin: auto;
    /* border-radius: 20px; */
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 10px 30px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.blog_topic_one_liner{
    width: 88%;
    height: 100%;
    background-color: transparent;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog_topic_two_liner{
    width: 88%;
    height: 100%;
    background-color: transparent;
    position: relative;
    display: flex;
    
}
.blog_topic_one_liner h1{
    /* position: relative;
    top: 35%;
    left: 5%; */
    padding:3% 5%;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    color: rgb(0, 72, 255);
}
.blog_topic_two_liner h1{
    position: relative;
    /* top: 25%;
    left: 5%; */
    margin:auto;
    /* margin-left: 3%; */
    left: 5%;
    font-family: 'Eczar', serif;
    font-size: 1.5em;
}
.right_arr{
    width: 20%;
    height: 100%;
    background-color: transparent;
    position: relative;
    display: flex;
    color: rgb(0, 72, 255);
    /* animation: right_direction 1s ease-in; */
}
.rightdir{
    margin: auto;
    cursor: pointer;
}
.rightdir:hover{
    animation: right_direction 2s ease-in-out;
    animation-timing-function: linear;
}
@keyframes right_direction {
    from{
        transform: translatex(0px);
    }
    to{
        transform: translateX(40px);
    }
}

.newDiv{
    position: relative;
    width: 70%;
    height: 20%;
    background-color: red;
    color: white;
    z-index: 1000;
}