.searchContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* background-color: #ebfce3; */
    background: url("../../Assets/photo-1611073761742-bce90ccd60ae.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
    flex-wrap: wrap;
}
.searchContainer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.8),rgba(0,0,0,0.55));
}
.search_logo_container{
    width: 55%;
    height: 25vh;
    position: relative;
    /* top: 1%; */
    /* left: 25%; */
    top: 15%;
    transform: translate(-50%,-50%);
    /* margin: auto; */
    background-color: transparent;
    /* margin-top: %; */
    /* top: 10%; */
    left: 47.5%;

    display: flex;
    flex-direction: row;
    color: rgb(255, 149, 0);
    
    cursor: none;
}
.left_search_logo{
    width: 20%;
    height: 100%;
    position: relative;
    /* margin: auto; */
    background-color: transparent;
    display: flex;
}
.searchLogo{
    width: 40%;
    position: relative;
    margin: auto;
}

.right_search_logo{
    width: 80%;
    height: 100%;
    position: relative;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
}
.header_text{
    margin: auto;
    position: relative;
    font-family: 'Yeseva One', cursive;
    font-size: 6.7em;
    letter-spacing: 2px;
    /* -webkit-text-stroke: 0.0000001px rgb(0, 0, 0); */
    /* text-stroke: 4px navy; */
}




.formSearch{
    width: 100%;
    height: 60vh;
    display: flex;
    /* margin-top: -5%; */
    flex-direction: column;
    background-color: transparent;
}

 .searchbox_container{
    width: 65%;
    height: 11vh;
    position: relative;
    background-color: transparent;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    /* margin: auto; */

}
.searchBox{
    width: 95%;
    height: 90%;
    position: relative;
    /* background-color: yellow; */
    margin: auto;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.inputSearch{
    width: 90%;
    height: 100%;
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.searchtext{
    width: 98%;
    height: 90%;
    margin: auto;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    cursor: text;
    font-family: 'Yeseva One', cursive;
    padding: 10px;
    font-size: 1.3em;
    background-color: transparent;
    /* background-color: transparent; */
}

.srchbtnContainer{
    width: 10%;
    height: 100%;
    display: flex;
    position: relative;
    background-color: transparent;
}
.circle_cont{
    width: 75%;
    height: 90%;
    position: relative;
    /* background-color: blueviolet; */
    margin: auto;
    border-radius: 48%;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    /* backdrop-filter: blur( 4px ); */
    /* -webkit-backdrop-filter: blur( 4px ); */
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.searchBtn{
    position: relative;
    width: 80%;
    margin: auto;
    cursor: pointer;
}




.suggestionData{
    width: 60%;
    height: 20vh;
    position: relative;
    display: flex;
    background-color: rgba(255, 255, 255, 0.497);
    flex-wrap: wrap;
    left: 20%;
    top: 10%;
    border-radius: 15px;
    flex-wrap: wrap;
}
.unorderSuggest{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: aqua; */
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    list-style: none;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.unorderSuggest li{
    /* border: 1px solid black; */
    margin-top:5px ;
}